/* .bar-graph-element {
    background-color: #4d5894 !important;
}


.chart {
    background-color: #4d5894 !important;
} */


h3 {
    color: white;
    font-weight: bold;
}

.chart {
    border-style: solid;
    border-radius: 10px;
    border-color: #1C3C62;
    background-color: #1C3C62;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.chart-customise {
    border-style: solid;
    border-radius: 10px;
    border-color: #1C3C62;
    background-color: #1C3C62;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chart-paragraph {
    color: white;
}

.custom-form-select {
    background-color: #0F2034;
    color: white;
    border: none;
}